/* .certificate-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.subtopic {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.certificate-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.certificate-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.2s;
}

.certificate-item:hover {
    transform: scale(1.05);
}

.certificate-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.certificate-item h3 {
    font-size: 1.2em;
    color: #555;
} */