/* .condiv {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
} */

.subtopic {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.contact-info {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #0056b3;
}