:root {
  --sidebar-flex: 1.5
  --condiv-felex: 6
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --trping-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: contents;
  width: 100vw;
  min-height: 100vh;
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #333;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

nav ul a{
  color: #fff;
  text-decoration: none;
  padding-inline: 15px;
  position: relative;
  bottom: 15px;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-felex);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profilepic {
  border-radius: 30%;
  width: 300px;
  margin: 15px;
  border: #333 5px solid;
}

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9a;
}

.social i:hover {
  color: #333;
}

.typingeffect {
  font-size: var(--trping-font);
  color: #333;
  text-align:center;
  font-weight: bolder;
}

.about {
  text-align: center;
}

.subtopic{
  margin: 10px 10px 30px 10px !important;
}
h1,h2,h3,h4,h5,h6 {
  margin: 10px;
}

p {
  font-size: var(--trping-p);
}

.widecard {
  display: flex;
  margin: 30px 0px 30px 0px;
  transition: .3s;
  border-radius: 10px;
  padding: .5rem;
}

.widecard:hover {
  color: #fff;
  background: #333;
  box-shadow: 3px 3px 10px #333;
}

.skills ul {
  display: flex;
  background-color: #333;
  color: #fff;
  border-radius: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.skills ul li {
  margin: 30px;
  list-style: none;
}

.active {
  font-weight: bolder;}